
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navbar{
    <li><a href="/Client/Index">Trang chủ</a></li>
    <li><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li><a href="/Client/Video">Video</a></li>
    <li><a href="/Client/Team">Team</a></li>

    <li class="active"><a href="/Client/Contact">Liên hệ</a></li>

}

<section>
    <div class="container">
        <div class="text-center">
            <h1>Contact Us</h1>

            <br>

            <p class="lead">Nếu bạn cần hỗ trợ, liên hệ với chúng tôi qua thông tin bên dưới.</p>
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <form id="contact-form" role="form" action="/Client/Contact" method="post">
                    <div class="section-title">
                        <h2>Thông tin liên hệ <small>Mọi ý kiến đóng góp vui lòng điền thông tin bên dưới!</small></h2>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <input type="text" class="form-control" placeholder="Họ và tên" name="name" required>

                        <input type="email" class="form-control" placeholder="Địa chỉ email" name="email" required>

                        <textarea class="form-control" rows="6" placeholder="Nội dung" name="message" required></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" name="send" value="Gửi">
                    </div>

                </form>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="contact-image">
                    <img src="~/Asset/Client/images/contact-1-600x400.jpg" class="img-responsive" alt="Smiling Two Girls">
                </div>
            </div>

        </div>
    </div>
</section>

