@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>LTW | Web So sánh Xe mới nhất</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Asset/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Asset/Client/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Asset/Client/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Asset/Client/css/owl.theme.default.min.css">
    <link href="~/Asset/Client/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Asset/Client/css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a href="#" class="navbar-brand">Car Comparing Website</a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li class="active"><a href="/Client/Index">Trang chủ</a></li>
                    <li><a href="/Client/Comparing">So sánh Xe</a></li>
                    @*<li><a href="about-us.html">Thông tin</a></li>*@
                    @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="blog-posts.html">Bài đánh giá</a></li>
                        <li><a href="/Client/Team">Team</a></li>

                        <li><a href="testimonials.html">Video</a></li>
                    </ul>
                </li>*@
                    <li><a href="/Client/Review">Bài đánh giá</a></li>
                    <li><a href="/Client/Team">Team</a></li>

                    <li><a href="testimonials.html">Video</a></li>
                    <li><a href="/Client/Contact">Liên hệ</a></li>
                    @*<li><button onclick="document.getElementById('id01').style.display='block'" style="width:auto; margin:9px" class="section-btn btn btn-primary btn-block">Đăng Nhập</button></li>*@
                    <li>@Html.ActionLink("Đăng Nhập", "LoginView", "Account")</li>





                </ul>
            </div>

            <div id="id01" class="modal">

                <form class="modal-content animate" action="~/Account/DangNhap" method="post">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="~/Asset/Login1/images/man.jpg" alt="Avatar" class="avatar">

                    </div>

                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                        <button type="submit">Sign In</button>
                        <button onclick="document.getElementById('id02').style.display='block'" style="width:100%; height:100%">Sign Up</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Đây là nút tao vừa sửa</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </form>
            </div>

        </div>
    </section>

    <!-- HOME -->
    <section id="home">
        <!--chạy ảnh-->
        <div class="row">
            <div class="owl-carousel owl-theme home-slider">
                <!--<div class="item item-first">
                     <div class="caption">
                          <div class="container">
                               <div class="col-md-6 col-sm-12">
                                    <h1>COMPARING CAR NOW!!!!!</h1>
                                    <h3>Tối ưu hóa sự ựa chọn của bạn, đảm bảo chất lượng trong từng bài viết</h3>
                                    <a href="cars.html" class="section-btn btn btn-default">Compare now</a>
                               </div>
                          </div>
                     </div>
                </div>-->

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">


                                <h1>Compare cars side-by-side</h1>
                                <h3>So sánh sự khác biệt về giá, tính năng, hiệu suất và hơn thế nữa...</h3>
                                <a href="cars.html" class="section-btn btn btn-default">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="item item-third">
                     <div class="caption">
                          <div class="container">
                               <div class="col-md-6 col-sm-12">
                                    <h1>Efficient Learning Methods</h1>
                                    <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis sollicitudin ut at libero.</h3>
                                    <a href="cars.html" class="section-btn btn btn-default">Browse Cars</a>
                               </div>
                          </div>
                     </div>
                </div>-->
            </div>
        </div>
    </section>

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="text-center">
                            <h2>All Brands</h2>

                            <img src="~/Asset/Client/images/brand.png" alt="">
                            <a href="#">
                                <p>Xem thêm</p>
                            </a>
                        </div>
                    </div>
                </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Featured Cars <small>Lorem ipsum dolor sit amet.</small></h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/product-1-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                    <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                    <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; Used vehicle</p>
                            </div>

                            <div class="courses-info">
                                <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/product-2-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                    <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                    <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; New vehicle</p>
                            </div>

                            <div class="courses-info">
                                <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/product-3-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                    <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                    <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; Used vehicle</p>
                            </div>

                            <div class="courses-info">
                                <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/product-4-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                    <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                    <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; Used vehicle</p>
                            </div>

                            <div class="courses-info">
                                <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/product-5-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                    <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                    <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; New vehicle</p>
                            </div>

                            <div class="courses-info">
                                <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/product-6-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                    <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                    <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; New vehicle</p>
                            </div>

                            <div class="courses-info">
                                <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Latest Blog posts <small>Lorem ipsum dolor sit amet.</small></h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/blog-1-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                    <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                    <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="blog-post-details.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                            </div>

                            <div class="courses-info">
                                <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/blog-2-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                    <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                    <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="blog-post-details.html">Tempora molestiae, iste, consequatur unde sint praesentium!</a></h3>
                            </div>

                            <div class="courses-info">
                                <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="~/Asset/Client/images/blog-3-720x480.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                    <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                    <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3><a href="blog-post-details.html">A voluptas ratione, error provident distinctio, eaque id officia?</a></h3>
                            </div>

                            <div class="courses-info">
                                <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="testimonial">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Testimonials <small>from around the world</small></h2>
                        </div>

                        <div class="owl-carousel owl-theme owl-client">
                            <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="tst-image">
                                        <img src="~/Asset/Client/images/tst-image-1-200x216.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="tst-author">
                                        <h4>Jackson</h4>
                                        <span>Shopify Developer</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptas, facilis adipisci dolorem exercitationem nemo aut error impedit repudiandae iusto.</p>
                                    <div class="tst-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="tst-image">
                                        <img src="~/Asset/Client/images/tst-image-2-200x216.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="tst-author">
                                        <h4>Camila</h4>
                                        <span>Marketing Manager</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente error, unde eos laborum consequatur officiis perferendis vel debitis, dolore, ipsum quibusdam culpa quisquam, reiciendis aspernatur.</p>
                                    <div class="tst-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="tst-image">
                                        <img src="~/Asset/Client/images/tst-image-3-200x216.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="tst-author">
                                        <h4>Barbie</h4>
                                        <span>Art Director</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit laborum minima autem, reprehenderit mollitia amet id, beatae quo sequi culpa assumenda neque a quisquam, magni.</p>
                                    <div class="tst-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="tst-image">
                                        <img src="~/Asset/Client/images/tst-image-4-200x216.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="tst-author">
                                        <h4>Andrio</h4>
                                        <span>Web Developer</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore natus culpa laudantium sit dolores quidem at nulla, iure atque laborum! Odit tempora, enim aliquid at modi illum ducimus explicabo soluta.</p>
                                    <div class="tst-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="" method="post">
                        <div class="section-title">
                            <h2>Thông tin liên hệ <small>Mọi ý kiến đóng góp vui lòng điền thông tin bên dưới!</small></h2>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <input type="text" class="form-control" placeholder="Họ và tên" name="name" required>

                            <input type="email" class="form-control" placeholder="Địa chỉ email" name="email" required>

                            <textarea class="form-control" rows="6" placeholder="Nội dung" name="message" required></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="Gửi" value="Send Message">
                        </div>

                    </form>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="~/Asset/Client/images/contact-1-600x400.jpg" class="img-responsive" alt="Smiling Two Girls">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Địa chỉ</h2>
                        </div>
                        <address>
                            <p>Số 1 Võ Văn Ngân <br>Thủ Đức, Việt Nam</p>
                        </address>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text">
                            <p>Copyright &copy; 2020 Company Name</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Thông tin liên hệ</h2>
                        </div>
                        <address>
                            <p>+1 333 4040 5566</p>
                            <p><a href="mailto:contact@company.com">contact@company.com</a></p>
                        </address>

                        <div class="footer_menu">
                            <h2>Links</h2>
                            <ul>
                                <li><a href="index.html">Trang chủ</a></li>
                                <li><a href="about-us.html">Thông tin</a></li>
                                <li><a href="terms.html">Terms & Conditions</a></li>
                                <li><a href="contact.html">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="footer-info newsletter-form">
                        <div class="section-title">
                            <h2>Nhận tin mới nhất</h2>
                        </div>
                        <div>
                            <div class="form-group">
                                <form action="#" method="get">
                                    <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required>
                                    <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                </form>
                                <span><sup>*</sup> Please note - we do not spam your email.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="~/Asset/Client/js/jquery.js"></script>
    <script src="~/Asset/Client/js/bootstrap.min.js"></script>
    <script src="~/Asset/Client/js/owl.carousel.min.js"></script>
    <script src="~/Asset/Client/js/smoothscroll.js"></script>
    <script src="~/Asset/Client/js/custom.js"></script>

</body>
</html>