@using CarComparison.Areas.Admin.Models
@model IEnumerable<Article>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    IEnumerable<Article> lstNewBlog = ViewBag.ListNewBlog as IEnumerable<Article>;
    IEnumerable<Article> lstNewVideo = ViewBag.ListNewVideo as IEnumerable<Article>;

    //var user = Session["user"] as CarComparison.Areas.Admin.Models.User_;
}


@*MENU*@
@section navbar{
    <li class="active"><a href="/Client/Index">Trang chủ</a></li>
    <li><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li><a href="/Client/Video">Video</a></li>
    <li><a href="/Client/Team">Team</a></li>

    <li><a href="/Client/Contact">Liên hệ</a></li>
}
@*HOME*@
<section id="home">

    <div class="row">
        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Hot Reviews! Hot News!</h1>
                            <h3>Tối ưu hóa sự ựa chọn của bạn, đảm bảo chất lượng trong từng bài viết</h3>
                            <a href="/Client/Review" class="section-btn btn btn-default">Go to Blog</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">

                            <h1>Compare cars side-by-side</h1>
                            <h3>So sánh sự khác biệt về giá, tính năng, hiệu suất và hơn thế nữa...</h3>
                            <a href="/Client/Comparing" class="section-btn btn btn-default">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Contact To Choose </h1>
                            <h3>Đội ngũ chuyên nghiệp, tư vấn cho bạn chiếc xe ưng ý nhất..</h3>
                            <a href="/Client/Contact" class="section-btn btn btn-default">Contact Now!!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-center">
                        <h2>All Brands</h2>

                        <img src="~/Asset/Client/images/brand.png" alt="">
                        <a href="#">
                            <p>Xem thêm</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h2>Video được xem nhiều nhất <small></small></h2>
                    </div>
                </div>

                @Html.Partial("~/Views/Client/videoPartial.cshtml", lstNewVideo)


            </div>
        </div>
    </section>

    <section>
        @*//Bước 1: Tách code và lồng PartialView*@
        @*Bước 2: gán dữ liệu từ controller thông qua viewbag vào partialview*@
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h2>Bài review mới nhất <small> Review chân thực và Chất lượng nhất..</small></h2>
                    </div>
                </div>
            </div>

            @Html.Partial("~/Views/Client/blogPartial.cshtml", lstNewBlog)

        </div>
    </section>



    <section id="testimonial">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                        <h2>Testimonials <small>from around the world</small></h2>
                    </div>

                    <div class="owl-carousel owl-theme owl-client">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/Asset/Client/images/tst-image-1-200x216.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Jackson</h4>
                                    <span>Shopify Developer</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptas, facilis adipisci dolorem exercitationem nemo aut error impedit repudiandae iusto.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/Asset/Client/images/tst-image-2-200x216.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Camila</h4>
                                    <span>Marketing Manager</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente error, unde eos laborum consequatur officiis perferendis vel debitis, dolore, ipsum quibusdam culpa quisquam, reiciendis aspernatur.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/Asset/Client/images/tst-image-3-200x216.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Barbie</h4>
                                    <span>Art Director</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit laborum minima autem, reprehenderit mollitia amet id, beatae quo sequi culpa assumenda neque a quisquam, magni.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="tst-image">
                                    <img src="~/Asset/Client/images/tst-image-4-200x216.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="tst-author">
                                    <h4>Andrio</h4>
                                    <span>Web Developer</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore natus culpa laudantium sit dolores quidem at nulla, iure atque laborum! Odit tempora, enim aliquid at modi illum ducimus explicabo soluta.</p>
                                <div class="tst-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



