
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section navbar{
    <li><a href="/Client/Index">Trang chủ</a></li>
    <li><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li><a href="/Client/Video">Video</a></li>
    <li class="active"><a href="/Client/Team">Team</a></li>

    <li><a href="/Client/Contact">Liên hệ</a></li>

}



<section>
    <div class="container">
        <div class="text-center">
            <h1>Đội ngũ Website</h1>

            <br>

            <p class="lead">Các thành viên của chúng tôi luôn cố gắng mang đến sự trải nghiệm tốt nhất cho bạn.</p>
        </div>
    </div>
</section>

<section id="team" class="section-background">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Asset/Client/images/giabao.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Gia Bảo</h3>
                        <span>CEO</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Asset/Client/images/giang.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Tiên Giang</h3>
                        <span>CTO</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Asset/Client/images/thao.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Thảo Nguyễn</h3>
                        <span>Marketing Expert</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-envelope-o"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Asset/Client/images/giabao.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Nam Hải</h3>
                        <span>Customer Support</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


