@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quên mật khẩu | Car Comparison</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- css files -->
    <link href="~/Asset/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Asset/Login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>
    <div class="signupform">
        <div class="container">
            <!-- main content -->
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <a href="/Client">
                            <h1>CAR COMPARISON</h1>
                            <p></p>
                            <img src="~/Asset/Login/images/image.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="w3_info">
                    <h2>QUÊN MẬT KHẨU</h2>
                    <br />
                    <div class="form-group">
                        Nhập email đăng ký tài khoản dưới đây để nhận mã xác nhận khôi phục tài khoản
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)

                        @Html.AntiForgeryToken()
                        <label>EMAIL</label>
                        <div class="input-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            @Html.TextBox("EmailID", "", new { @class = "form-control" })
                        </div>

                        if (ViewBag.Message == "1")
                        {
                            <script>
                                alert("Liên kết đặt lại mật khẩu đã được gửi đến email của bạn thành công!!");
                            </script>
                        }
                        <br />
                        <button class="btn btn-danger btn-block" type="submit" value="Submit">Xác nhận</button>
                        <p class="account">Quay lại trang <a href="/Account/LoginView">Đăng nhập</a></p>
                    }
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- footer -->
        <div class="footer">
            <p>&copy; 2020 Car Comparison Team 6. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="blank">W3layouts</a></p>
        </div>
        <!-- footer -->
    </div>
</body>
</html>

