@using CarComparison.Areas.Admin.Models;
@using PagedList.Mvc;

@model PagedList.IPagedList<Article>
@{
    ViewBag.Title = "resultSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section navbar{
    <li><a href="/Client/Index">Trang chủ</a></li>
    <li><a href="/Client/Comparing">So sánh Xe</a></li>
    <li><a href="/Client/Review">Bài đánh giá</a></li>
    <li><a href="/Client/Video">Video</a></li>
    <li><a href="/Client/Team">Team</a></li>

    <li class="active"><a href="/Client/Contact">Liên hệ</a></li>

}
